.my-products {
    overflow-x: hidden;
    display: flex;
    margin: 0;
    background: rgb(87, 0, 0);
    background: linear-gradient(90deg, rgba(87, 0, 0, 1) 0%, rgba(227, 76, 76, 1) 100%);
    justify-content: center;
}


.products {
    display: flex;
    width: 70vw;
    padding: 20vh 20vh;
    flex-direction: column;
    align-items: center;
}

.products .border {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    width: 30vw;
}

.products h1,
h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.products h1 {
    color: white;
    font-size: 5rem;
}

@media screen and (max-width: 800px) {
    .products h1 {
        font-size: 3.5rem;
    }
}

.projects-grid {
    margin-top: 5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    column-gap: 3vw;
    row-gap: 80px;
}

.projects-grid .elements {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 40rem;
    background-color: rgb(18, 18, 18);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s;
    border-radius: 7px;
}

.projects-grid img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: sticky;
    width: auto;
}

.projects-grid h1 {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 500;
}


.projects-grid h3 {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #d5d9f6;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 300;
}

.projects-grid .card-buttons {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
}

.card-buttons button {
    font-size: 1.2rem;
    cursor: pointer;
    padding: .6rem 1.2rem .6rem 1.2rem;
    border-radius: 6px;
}

.card-buttons .button-1 {
    color: rgb(23, 23, 23);
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    transition: background-color 0.15s;
}

.card-buttons .button-1:hover {
    background-color: #ff372c;
}

.card-buttons .button-1:active {
    background-color: #b72222;
}

@media screen and (max-width: 1320px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }

    .products .border {
        width: 60vw;
    }
}

@media screen and (max-width: 630px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .products .border {
        width: 60vw;
    }
}